body{
    font-family: var(--main-font);
    background-color: #f3f4f6;
    height: 180vh;
    max-height: 180vh;
}

.appBar{
    height: 10vh;
    background-color: var(--big-letter);
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #fff
}

.appBar h4{
    margin-left: 15px;
    font-weight: 600;
}

.main-body{
    height: 90vh;
    padding: 0 20px;
}

.passenger-count{
    background-color: #fff;
    height: 8vh;
    margin-top: 15px;
    display: grid;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 15px;
}

.passenger-count span{
    font-weight: 900;
    color: var(--big-letter);
}

.contact-information{
    background-color: #fff;
    height: 21vh;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-information p{
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 800;
}

label{
    font-size: 13px;
}

input{
    margin-bottom: 20px;
    height: 30px;
    font-size: 12px;
    margin-left: 5px;
    border: none;
    padding-left: 5px;
    border-bottom: 1px #dfd7d7 solid;
    width: 80%;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button{
    height: 40px;
    text-align: center;
    width: 80%;
    border: none;
    outline: none;
    background-color: var(--big-letter);
    color: #fff;
    border-radius: 5px;
}